* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
}

.container--medium {
  margin: 0 auto;
  max-width: 1080px;
}

.container--narrow {
  margin: 0 auto;
  max-width: 770px;
}