* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
}

.container--medium {
  margin: 0 auto;
  max-width: 1080px;
}

.container--narrow {
  margin: 0 auto;
  max-width: 770px;
}

.card {
  background: #FFFFFF;
  box-shadow: 0px 10px 12px -5px rgba(0, 0, 0, 0.12);
  border: 1px solid $grey-100;
  border-radius: 8px;
  padding: 2rem;
}

.card--large {
  border-radius: 16px;
}