/* Color styles */
$primary: rgba(230, 50, 75, 1);
$grey-50: rgba(245, 247, 250, 1);
$grey-100: rgba(228, 231, 235, 1);
$grey-200: rgba(203, 210, 217, 1);
$grey-300: rgba(154, 165, 177, 1);
$grey-400: rgba(123, 135, 148, 1);
$grey-500 : rgba(97, 110, 124, 1);
$grey-600: rgba(82, 96, 109, 1);
$grey-700: rgba(62, 76, 89, 1);
$grey-800: rgba(50, 63, 75, 1);
$grey-900: rgba(31, 41, 51, 1);
$yellow: rgba(255, 207, 52, 1);
$blue: rgba(77, 204, 219, 1);
$green: rgba(166, 206, 90, 1);
$red: rgba(230, 50, 75, 1);
$orange: rgba(255, 90, 52, 1);
$purple: rgba(230, 50, 221, 1);

/* Text-size styles */
/* base size: 15px-- -body (15px) */
--40px----large -heading: 2.67rem;
--32px----medium -heading: 2.13rem;
--24px----small -heading: 1.6rem;
--20px----x--small -headline: 1.33rem;
--15px----body: 1rem;

/* Effect styles */
--card:  12px 0px 10px rgba(0, 0, 0, 0.12);
--small--card:  12px 0px 0px rgba(0, 0, 0, 0.15);
