@import "normalize";
@import "variables";

body {
    font-size: 15px;
    font-family: "TT Norms Pro", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1600px;
}

.container--medium {
    margin: 0 auto;
    max-width: 1080px;
}

.container--narrow {
    margin: 0 auto;
    max-width: 770px;
}

.header--big {
    font-size: 4rem;
    color: $grey-900;
    letter-spacing: -0.01em;
}


@import "Navbar";