@import "normalize";
@import "variables";
@import "text";
@import "layout";

.no-underline {
  text-decoration: none;
  color: inherit;
}

// Components

@import "Navbar";


.hero {
  padding: 4rem;
}

.hero--text {
  max-width: 28rem;
}

.hero--header {
  font-size: 4rem;
  margin: 0;
  letter-spacing: -0.03em;
  line-height: 1.2em;
}

.hero--subheader {
  color: $grey-600;
}

.home-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2.13rem 1.06rem;
  margin: 0 1rem;
}

.home-menu--item {
  padding: 0 1.06rem;
}

.home-menu--link {
  color: $primary;
  text-decoration: none;
  font-weight: bold;
}

.blog-posts {
  margin: 0 auto;
  max-width: 32rem;
}

.blog-post {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4rem;
    text-decoration: none;
}

.blog-post--image {
    mask: url(../img/blob1.svg);
    mask-repeat: no-repeat;
    mask-size: 200px;
    min-width: 200px;
    min-height: 200px;
    margin-right: 2rem;
}

.blog-post--type {
    font-size: 0.8rem;
    background: rgba(230, 50, 221, 0.1);
    color: #771B72;
    padding: 0.6em 1em 0.5em;
    text-transform: uppercase;
    display: inline-block;
    line-height: 1em;
    border-radius: 100px;
    font-weight: bold;
    letter-spacing: 0.04em;
    margin: 0 0 8px;
}

.blog-post--excerpt {
    line-height: 150%;
    color: $grey-600;
}

.page-header {
  margin-bottom: 3rem;
}

.pattern-category {
  display: inline-block;
  margin-bottom: 1rem;
}

.pattern-card {
  display: block;
  padding: 1rem;
}

.pattern-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  grid-auto-rows: minmax(5rem, auto);
  margin-bottom: 4rem;
}