@import "normalize";
@import "variables";

* {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "TT Norms Pro", sans-serif;
  color: $grey-900;
  line-height: 1.5em;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
}

.text-body {
  line-height: 150%;
}

.text-body-large {
  font-weight: normal;
  font-size: 1.33rem;
  line-height: 150%;
}

// Components
@import "Navbar";

.card--large {
  background: #FFFFFF;
  border: 1px solid $grey-100;
  box-shadow: 0px 10px 12px -5px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
}

.header--small {
  font-size: 1.33rem;
  margin: 0;
}

.hero {
  padding: 4rem;
}

.hero--text {
  max-width: 28rem;
}

.hero--header {
  font-size: 4rem;
  margin: 0;
  letter-spacing: -0.03em;
  line-height: 1.2em;
}

.hero--subheader {
  color: $grey-600;
}

.home-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2.13rem 1.06rem;
  margin: 0 1rem;
}

.home-menu--item {
  padding: 0 1.06rem;
}

.home-menu--link {
  color: $primary;
  text-decoration: none;
  font-weight: bold;
}

.blog-posts {
  margin: 0 auto;
  max-width: 32rem;
}

.blog-item {

}

.blog-item--content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.blog-item--image {
  width: 190px;
}

.blog-item--text {
  
}
.container--medium {
    margin: 0 auto;
    max-width: 1080px;
}

.container--narrow {
    margin: 0 auto;
    max-width: 770px;
}

.header--big {
    font-size: 4rem;
    color: $grey-900;
    letter-spacing: -0.01em;
}

.header--medium {
    font-size: 2.4rem;
    color: $grey-900;
    font-weight: bold;
    text-decoration: none;
    line-height: 120%;
    display: block;
    margin: 0 0 16px;
}

.blog-post {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4rem;
}

.blog-post--image {
    mask: url(../img/blob1.svg);
    mask-repeat: no-repeat;
    mask-size: 180px;
    min-width: 200px;
    padding-right: 2rem;
}

.blog-post--type {
    font-size: 0.8rem;
    background: rgba(230, 50, 221, 0.1);
    color: #771B72;
    padding: 0.6em 1em 0.5em;
    text-transform: uppercase;
    display: inline-block;
    line-height: 1em;
    border-radius: 100px;
    font-weight: bold;
    letter-spacing: 0.04em;
    margin: 0 0 8px;
}

.blog-post--excerpt {
    font-size: 1.33rem;
    line-height: 150%;
    color: $grey-600;
}


@import "Navbar";
