.navbar {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar--left {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: -0.02em;
  color: $grey-900;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 3rem;
  white-space: nowrap;
}

.logo--icon {
  width: 2.4rem;
}

.logo--text {
  font-weight: bold;
  padding-left: 1rem;
}

.navbar--item {
  color: $grey-600;
  font-weight: normal;
  letter-spacing: 0.01em;
  text-decoration: none;
  padding: 1rem;
  font-size: 1.0625rem;
  line-height: 1em;
}